<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="/">Registration Form</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->